name: CI/CD Pipeline
run-name: ${{ github.actor }} is testing a change
on:
  push:
    branches: ["main"]
  workflow_dispatch: null
permissions:
  id-token: write
  contents: read
  checks: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up JDK 1.11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build
      run: mvn --batch-mode -DskipTests -f data/pom.xml package
    - name: Test
      run: mvn --batch-mode -Dmaven.test.failure.ignore=true -f data/pom.xml test
    - name: Report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Maven Tests
        path: data/target/surefire-reports/*.xml
        reporter: java-junit
        fail-on-error: true
    - name: Upload Report
      uses: 'actions/upload-artifact@v2'
      with:
        name: jacoco-report
        path: ${{ github.workspace }}/data/target/site/jacoco/jacoco.xml
    - name: Add coverage to PR
      id: jacoco
      uses: madrapps/jacoco-report@v1.2
      with:
        paths: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 80
        min-coverage-changed-files: 80
        title: Code Coverage